.titulo{
    font-size: 36px;
    font-weight: 500;
    padding: 2px;
    margin: 0 !important;
    color: rgba(5, 99, 102, 0.867);
}

.subtitulo{
    font-size: 26px;
    font-weight: 500;
    padding: 15px 0px 15px 25px;
    margin: 0 !important;
    color: rgba(22, 50, 51, 0.589);
}